body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #110d0d;
    color:white;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #110d0d;
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.995);
}

h1 {
    text-align: center;
    color: white;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info strong {
    font-weight: bold;
    color: #b1a7a7;
}

.contact-info a {
    color: #3da426;
    text-decoration: none;
}
.custom-icon {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 9999; /* Ensure the icon appears above other content */
    cursor: pointer;
}

.custom-icon img {
    width: 40px; /* Adjust the size of the icon */
    height: 40px; /* Adjust the size of the icon */
    border-radius: 50%; /* Make the image circular */
    border: 2px solid #fff; /* Add a border around the image */
    box-shadow: 0 0 5px rgba(240, 238, 238, 0.5); /* Add a shadow effect */
}