

body {
    font-family: Arial, sans-serif;
    background-color: #060606;
    margin: 0;
    padding: 0;
    color: white;
}
.text-container {
    height:10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 50px;
    color: rgba(225,225,225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }
.container { /*The whole login container*/
    border:1px solid #000000;
    max-width: 400px;
    margin: 100px auto;
    background-color: #0f0c0c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(244, 242, 242);
}

h1 { /*The word Login*/
    text-align: center;
}

h2 { /*The word Login*/
    text-align: center;
    margin-bottom: 50px;
}

.form-group { /*Elements inside login card*/
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] { /*input boxes*/
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ffffff; /* Set signup button background color */
    color: #000000; /* Set signup button text color */
    border: 1px solid #dcdada; 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #274a70;
}

.button-sign button {
    margin-top:15px;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #274a70;
}
#password{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}