body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141010;
    color: white;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #141010;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(251, 251, 251);
}
.custom-icon {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 9999; /* Ensure the icon appears above other content */
    cursor: pointer;
}

.custom-icon img {
    width: 40px; /* Adjust the size of the icon */
    height: 40px; /* Adjust the size of the icon */
    border-radius: 50%; /* Make the image circular */
    border: 2px solid #fff; /* Add a border around the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}
h1 {
    text-align: center;
    color: #f8f3f3;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #5c5353;
    border-radius: 5px;
}
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}